@import "/src/common/styles/saas/variables";
@import "/src/common/styles/saas/mixins";

.skillsBlock{
    background-color: $bgColor2;
    min-height: 80vh;
    @include flexColumn(flex,column,center);
    justify-content: space-around;
    .skillsContainer{
        @include flexColumn(flex,column,center);
        justify-content:space-between;
        height: 100%;
        max-width: 60%;
        padding:0 0 8% 0;
        .title{
            padding: 4% 0;
        }
        .skills{
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            display: grid;
            justify-items: center;
            justify-content: space-between;
            color:$textColor;
        }
    }
}



