@import "/src/common/styles/saas/variables";

.distance {
  background-color: $bgColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    .insideContainer {
      height: 40%;
      display: flex;
      flex-direction: column;
    }
  }
}