@import "/src/common/styles/saas/variables";

.mainBlock {
    min-height: 100vh;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    .textBlock {
        background-color: $bgColor2;
        font-family: 'Rubik', sans-serif;
        width: 40%;

        @media screen and (max-width: 604px) {
            & {
                margin-top: 20%;
                margin-bottom: 5%;
                width: 100%;
            }
        }
        .nameTitle{
            color: $textColor;
        }
        .mainTitle {
            font-size: 19px;
            color: $textColor;
            font-weight: 400;
            letter-spacing: 0.5px;
            width: 100%;
        }
    }
    .ava {
        max-width: 300px;
        height: auto;
    }
}