@import "/src/common/styles/saas/variables";
.btn{
    background-color: transparent;
    cursor: pointer;
    border-color: $textColor;
    color: $textColor;
    border-radius: 7px;
    font-family:'Rubik', sans-serif;
}