@import "/src/common/styles/saas/variables";
@import "/src/common/styles/saas/mixins";

.projectBlock {
  background-color: $bgColor;
  justify-content: center;
  .container {
    min-height: 40vh;
    @include flexColumn(flex,column,center);
    justify-content: space-evenly;
    padding: 4%;
  }
    .title {
        padding: 2% 0;
}
    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}




