@import "/src/common/styles/saas/variables";
@import "/src/common/styles/saas/mixins";

.header {
    height:60px;
    background-color: $bgColor;
    @include flexRow(flex,center,flex-start);
    border: 2px solid $textColor;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

