@import "/src/common/styles/saas/variables";

.footerBlock {
    background-color: $bgColor;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .titleFooter {
            text-align: center;
            font-family: 'Rubik', sans-serif;
            color: $textColor;
            letter-spacing: 0.5px;
        }
        .iconsBlock {
            width: 30%;
            height: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .linkIcon {
                color: transparent;
            }
            .icon {
                width: 30px;
                height: 30px;
                color: white;
                border: 1px solid;
            }
        }
    }
}
