@import "/src/common/styles/saas/variables";
@import "/src/common/styles/saas/mixins";

.footerBlock {
    background-color: $bgColor;
    min-height: 30vh;
    @include flexColumn(flex,column,center);
    justify-content: center;
    .container {
        @include flexRow(flex,center,space-evenly);
        .titleFooter {
            text-align: center;
            font-family: 'Rubik', sans-serif;
            color: $textColor;
            letter-spacing: 0.5px;
        }
        .iconsBlock {
            width: 30%;
            height: 40%;
            @include flexRow(flex,center,space-around);
            .linkIcon {
                color: transparent;
            }
            .icon {
                width: 30px;
                height: 30px;
                color: white;
                border: 1px solid;
            }
        }
    }
}
