@import "/src/common/styles/saas/variables";
@import "/src/common/styles/saas/mixins";

.contactsBlock{
    background-color: $bgColor2;
    @include flexColumn(flex,column,center);
    justify-content: space-between;
    .container{
        @include flexColumn(flex,column,center);
        .form{
            border: 1px solid;
            display: flex;
            flex-direction: column;
            .textForm{
                min-height: 20vh;
            }
            .inputStyle{
                margin-top: 5%;
                background-color: transparent;
                cursor: pointer;
                border-color: $textColor;
                color: $textColor;
                border-radius: 7px;
                font-family:'Rubik', sans-serif;
            }
        }
    }
}