@import "/src/common/styles/saas/variables";
@import "/src/common/styles/saas/mixins";

.contactsBlock{
    background-color: $bgColor2;
    @include flexColumn(flex,column,center);
    justify-content: space-between;
    .container{
        //@include flexColumn(flex,column,center);
        .form{
            border: 1px solid;
            display: flex;
            flex-direction: column;
            width:  clamp(15rem, 13rem + 10vw, 25rem);
                    //clamp(15.625rem, 10.5769rem + 22.4359vw, 37.5rem);
            .emailInput{
                margin: 6px 0 6px 0;
                padding: 10px;
                min-height: 30px;
                background-color: $bgColor;
                border-radius: 3px;
                color:$textColor;
                border: 0.1px solid $textColor;
                &::placeholder{
                    color:$textColor;
                }
            }
            .textInput{
                margin: 6px 0 6px 0;
                padding: 10px;
                min-height: 60px;
                background-color: $bgColor;
                color: $textColor;
                border-radius: 3px;
                border: 0.1px solid $textColor;
                &::placeholder{
                    color:$textColor;
                }
            }
            .inputSubmitStyle{
                padding: 8px;
                margin-top: 5%;
                background-color: transparent;
                cursor: pointer;
                border-color: $textColor;
                color: $textColor;
                border-radius: 7px;
                font-family:'Rubik', sans-serif;
            }
        }
    }
}